/*

font-family: 'Gloria Hallelujah', ;
font-family: 'Shadows Into Light Two', ;
font-family: 'Montserrat', ;
font-family: 'Ibarra Real Nova', ;

rgb(8, 17, 65)  --  navy
rgb(251, 124, 120)  --  salmon
rgb(6, 176, 163)  --  turquoise
rgb(188, 59, 35)  --  brick
rgb(237, 225, 115)  --  yellow

*/


iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}