/*
font-family: 'Gloria Hallelujah', ;
font-family: 'Shadows Into Light Two', ;
font-family: 'Montserrat', ;
font-family: 'Ibarra Real Nova', ;

rgb(8, 17, 65)  --  navy
rgb(251, 124, 120)  --  salmon
rgb(6, 176, 163)  --  turquoise
rgb(188, 59, 35)  --  brick
rgb(237, 225, 115)  --  yellow

*/

body {
    background-image: url(../images/alex-avalos-dnUNjIUCg5c-unsplash.jpg);
    background-size: cover;
    background-color: ghostwhite;
}

fieldset {
    width: 400px;
    font-family: 'Gloria Hallelujah';
    font-size: x-large;
    margin: auto;
    text-align: center;
    background-image: linear-gradient(ghostwhite, rgba(8, 17, 65, .8));
    border: none;

}

img {
    width: 200px;
}

input[type=text], input[type=password] {
    width: 350px;
    padding: 10px 10px 10px 40px;
    margin: 10px;
    border: 1px solid rgb(8, 17, 65);
    font-family: 'Montserrat';
    font-size: small;
    background-color: ghostwhite;
}

input[type=text] {
    background-image: url('../images/user.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 8px;
}

input[type=password] {
    background-image: url('../images/key.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 8px;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: rgba(6, 176, 163, .3);
}

input[type=submit] {
    background-color: rgb(8, 17, 65);
    border: 1px solid ghostwhite;
    font-family: 'Shadows Into Light Two';
    font-size: medium;
    color: ghostwhite;
    padding: 10px 15px 10px 15px;
    margin: 10px;
    cursor: pointer;
}
